.container {
  background-color: rgb(235, 225, 233);
  width: 100%;
  height: auto;
}
.loading {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

/* header part */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 120px;
  background-color: rgb(241, 179, 33);
  display: flex;
  flex-direction: column;
}
.header__header_top {
  margin-top: 10px;
  width: 100%;
  flex-basis: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__header_top__nav_container {
  width: 80%;
  height: 90%;
  min-height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__header_top__nav_container__left {
  height: 100%;
  display: flex;
  align-items: center;
}
.header__header_top__nav_container__left__link {
  text-decoration: none;
  color: white;
  margin: 0 10px;
  font-size: 14px;
}
.header__header_top__nav_container__right {
  height: 100%;
  display: flex;
  align-items: center;
}
.header__header_top__nav_container__right__link_container {
  position: relative;
}
.header__header_top__nav_container__right__link {
  text-decoration: none;
  color: white;
  margin: 0 10px;
  font-size: 14px;
  cursor: pointer;
}
.options_menu_container {
  position: absolute;
  top: 30px;
  right: 0px;
  background-color: white;
  width: 125px;
  height: auto;
  padding: 10px 0px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 10px;
  gap: 15px;
}
.option_menu {
  cursor: pointer;
  font-size: 14px;
  color: black;
  text-decoration: none;
}
.option_menu:hover {
  color: rgb(134, 134, 137);
}
.header__header_bottom {
  flex-basis: 75%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__header_bottom__container {
  width: 80%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__header_bottom__container__logo_section {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  padding: 0 5px;
  height: 80%;
}
.header__header_bottom__container__logo_section__logo {
  width: 35px;
  height: 35px;
  color: white;
}
.header__header_bottom__container__logo_section__link {
  text-decoration: none;
  font-size: 24px;
  color: white;
  font-weight: bold;
}
.header__header_bottom__container__search_section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 70%;
}
.header__header_bottom__container__search_section__form {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
.header__header_bottom__container__search_section__form__input_container {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__header_bottom__container__search_section__form__input_container__input {
  height: 100%;
  width: 85%;
  border: none;
  border-radius: 5px;
  padding: 0 12px;
}
.header__header_bottom__container__search_section__form__input_container__input:hover {
  background-color: rgb(239, 245, 250);
}
.header__header_bottom__container__search_section__form__input_container__input:focus {
  outline: none;
  background-color: rgb(239, 245, 250);
}
.header__header_bottom__container__search_section__form__input_container__button {
  height: 100%;
  width: 10%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(204, 143, 0);
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: white;
  cursor: pointer;
}
.header__header_bottom__container__search_section__form__input_container__button:hover {
  background-color: rgb(195, 137, 2);
}
.header__header_bottom__container__cart_section {
  position: relative;
}
.iconCart {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
}
.number{
  position: absolute;
  bottom: 25px;
  left: 30px;
  background-color: white;
  border-radius: 10px;
  color: red;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

/* main part */
.main {
  margin-top: 120px;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
/* side bar part */
.sideBar {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}
.sideBar__container {
  margin: 15px;
  width: 90%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.sideBar__container .title {
  font-size: 24px;
  font-weight: 500;
  width: 90%;
  height: 40px;
  margin: 15px 0 0 10px;
}
.sideBar__container .options {
  width: 90%;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 5px;
}
.sideBar__container .options:hover {
  background-color: pink;
}
.sideBar__container .options .options__link {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  color: black;
  padding-left: 15px;
  font-size: 20px;
}
.sideBar__container .options .options__link.options__link_focus {
  color: red;
}
/* main content part */
.content {
  flex: 5;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.content__main_container {
  margin-top: 15px;
  width: 99%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.main_head {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid rgb(241, 179, 33);
  font-size: 18px;
  font-weight: 500;
  color: rgb(237, 118, 27);
}
.main_content {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_content__container {
  width: 98%;
  height: 98%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.product_container {
  width: 15%;
  height: 280px;
  margin: 10px 9px;
  background-color: rgb(248, 212, 218);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}
.product_container__image {
  width: 100%;
  flex: 1;
}
.product_container__desc {
  width: 90%;
  height: 80px;
  display: flex;
  flex-direction: column;
}
.product_container__desc__title {
  color: black;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 5px;
}
.product_container__desc__price_sold {
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product_container__desc__price_sold .price {
  color: red;
  font-size: 14px;
}
.product_container__desc__price_sold .sold {
  color: rgb(71, 71, 71);
  font-size: 12px;
}

/* footer part */
.footer {
  width: 100%;
  height: 400px;
  background-color: rgb(51, 51, 51);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_container {
  width: 95%;
  height: 90%;
  display: flex;
  flex-direction: column;
}
.footer_container__top {
  flex-basis: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_container__top__left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.footer_container__top__left__column {
  height: 80%;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.footer_container__top__left__column .title {
  font-size: 24px;
  color: white;
  font-weight: 500;
  margin-bottom: 10px;
  cursor: pointer;
}
.footer_container__top__left__column .option {
  font-size: 16px;
  color: white;
  cursor: pointer;
}
.footer_container__top__right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.footer_container__top__right__container {
  width: 80%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.footer_container__top__right__container__text {
  font-size: 24px;
  color: white;
  font-weight: 500;
}

.footer_container__top__right__container__search {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 40px 0;
}
.footer_container__top__right__container__search__form {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer_container__top__right__container__search__form__input {
  height: 90%;
  width: 80%;
  border: none;
  border-radius: 15px;
  padding: 0 12px;
}
.footer_container__top__right__container__search__form__input:hover {
  background-color: rgb(248, 226, 230);
}
.footer_container__top__right__container__search__form__input:focus {
  outline: none;
  background-color: rgb(248, 226, 230);
}

.footer_container__top__right__container__search__form__button {
  height: 90%;
  width: 20%;
  margin-left: 5px;
  border: none;
  border-radius: 15px;
  background-color: rgb(207, 149, 50);
  cursor: pointer;
}
.footer_container__top__right__container__search__form__button:hover {
  background-color: rgb(233, 112, 13);
}
.footer_container__top__right__container__icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer_container__top__right__container__icon .icon {
  width: 35px;
  height: 35px;
  color: white;
  margin: 0 15px;
  cursor: pointer;
}

.footer_container__bottom {
  flex-basis: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_container__bottom__left {
  font-size: 18px;
  color: white;
}
.footer_container__bottom__right__link {
  text-decoration: none;
  margin: 0 10px;
  color: rgb(247, 226, 226);
}
