.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: auto;
  overflow: hidden;
  position: relative;
}
.loading {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 500px;
  height: 500px;
  background-color: rgb(248, 206, 206);
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0px 0px 2px rgba(0.5, 0.5, 0.5, 0.5);
}

.title_container {
  display: flex;
  justify-content: center;
}
.title {
  font-size: 32px;
  font-weight: 600;
}

.form_container {
  padding: 30px;
}

.inputs_container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  font-size: 16px;
  font-weight: bold;
}

.input {
  border-radius: 12px;
  height: 50px;
  padding: 5px 15px;
  border: 1px solid #ccc;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  font-style: italic;
}
.text_warning {
  font-size: 12px;
  color: red;
  margin-top: 5px;
}

.button_container {
  padding: 60px 0px 10px 0px;
}

.button {
  width: 100%;
  height: 50px;
  border-radius: 12px;
  background-color: blue;
  font-size: 24px;
  color: black;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}

.button:hover {
  font-size: 24px;
  color: black;
  font-weight: bold;
  outline: none;
}
