.table_container {
  width: 100%;
  height: auto;
}
.table_top {
  margin-top: 60px;
  display: flex;
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}
.button {
  height: 100%;
  width: 60px;
  min-height: 60px;
  padding: 5px 15px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: black;
}
.input_container {
  height: 80%;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input {
  height: 90%;
  width: 95%;
  padding: 0 12px;
  border-radius: 5px;
  border: none;
  background-color: rgb(236, 233, 233);
}
.input:focus {
  outline: none;
  background-color: rgb(221, 219, 219);
}
.input:hover {
  background-color: rgb(221, 219, 219);
}

.buttons_container {
  display: flex;
}
