.container {
  background-color: red;
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* nav */
.nav {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav_content {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}
.main_container__content_header__logo_shops {
  height: 40px;
  width: 40px;
  color: rgb(255, 255, 255);
}
.nav_content__left {
  display: flex;
  width: auto;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.nav_content__left__title {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.nav_content__left__shops {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 22px;
}
.nav_content__left__signin {
  font-size: 18px;
  color: white;
}
.nav_content__right {
  text-decoration: none;
  font-size: 14px;
  color: rgb(255, 255, 255);
}

/* main */
.main {
  background-color: rgb(237, 237, 239);
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
}
