.container {
  width: 100%;
  height: auto;
}
.main_content {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.main_content__container {
  width: 80%;
  height: 100%;
  margin-top: 20px;
}
.text{
    font-size: 20px;
    font-weight: 500;
}
.products_pagination {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.products {
  width: 100%;
  height: 98%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.product_container {
  width: 15%;
  height: 280px;
  margin: 10px 9px;
  background-color: rgb(248, 212, 218);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}
.product_container__image {
  width: 100%;
  flex: 1;
}
.product_container__desc {
  width: 90%;
  height: 80px;
  display: flex;
  flex-direction: column;
}
.product_container__desc__title {
  color: black;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 5px;
}
.product_container__desc__price_sold {
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product_container__desc__price_sold .price {
  color: red;
  font-size: 14px;
}
.product_container__desc__price_sold .sold {
  color: rgb(71, 71, 71);
  font-size: 12px;
}

.pagination_container {
  padding-top: 20px;
  display: flex;
  gap: 15px;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.react_pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style-type: none;
  height: 40px;
  padding: 0 15px;
}
.page_item {
  height: auto;
  width: auto;
  min-width: 30px;
  margin: 0 5px;
  border: 1px solid black;
  border-radius: 50%;
  padding: 5px;
  display: flex;
}
.page_item:hover{
  background-color: #7c7c7c;
  cursor: pointer;

}
.page_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; 
  height: 100%; 
  border-radius: 50%;
  border: none;
  color: #333;
  text-decoration: none;
}
.page_link:hover{
  background-color: #7c7c7c;
  cursor: pointer;
}

.page_item.active .page_link {
  background-color: #007bff;
  color: #fff;
}
.page_item.active {
  background-color: #007bff;
  color: #fff;
}

