.container {
  background-color: rgb(247, 247, 247);
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}
.loading {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* nav */
.nav {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav_content {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}
.nav_content__left {
  display: flex;
  width: auto;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.nav_content__left__title {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.nav_content__left__shopify {
  text-decoration: none;
  color: red;
  font-weight: bold;
  font-size: 22px;
}
.nav_content__left__signin {
  font-size: 18px;
  color: black;
}
.nav_content__right {
  text-decoration: none;
  font-size: 14px;
  color: blue;
}

/*main part*/
.main {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.box_container {
  background-color: rgb(218, 238, 254);
  width: 30%;
  height: auto;
  padding-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px rgba(0.5, 0.5, 0.5, 0.5);
}
.box_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.arrow_left_icon {
  width: auto;
  margin-left: 15px;
  cursor: pointer;
}
.title_container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form_container {
  margin-top: 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input {
  width: 90%;
  height: 40px;
  border: 1px solid rgb(71, 71, 71);
  border-radius: 5px;
  padding: 0 12px;
}
.error_container {
  width: 95%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}
.text_warning {
  font-size: 12px;
  color: red;
  margin-top: 5px;
}
.button {
  width: 95%;
  height: 40px;
  border: 1px solid rgb(71, 71, 71);
  border-radius: 5px;
  background-color: rgb(248, 182, 60);
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.button:hover {
  background-color: rgb(251, 174, 31);
}
